# DS-SF-42 | 03 | Exploratory Data Analysis | Codealong | Starter Code

In this code-along we will need the seaborn plotting package. Seaborn is built-around matplotlib to make some functionality much more user friendly.

To install a package, open terminal (or git-bash for Windows users).

Run:

```bash
conda install -y seaborn
```

Conda is a package manager, similar to `pip`.

In [1]:
!conda install -y seaborn

Solving environment: done

# All requested packages already installed.

In [2]:
#!conda install -y matplotlib.pyplot

In [3]:
import os
import math
import numpy as np
import pandas as pd
import seaborn as sns
#import matplotlib.pyplot as plt
#%matplotlib inline
#plt.style.use('ggplot')

## Part A | Independent Review (20 minutes) | The _pandas_ Library

In [4]:
df = pd.DataFrame({'name': ['Alice', 'Bob', 'Carol', 'Dave', 'Eve', 'Frank'],
    'gender': ['Female', 'Male', 'Female', 'Male', 'Female', 'Male'],
    'age': [24, 34, 44, 41, 52, 43],
    'marital_status': [0, 2, 1, 2, 0, 1]}).\
        set_index('name')

In [5]:
df

       age  gender  marital_status
name
Alice   24  Female               0
Bob     34    Male               2
Carol   44  Female               1
Dave    41    Male               2
Eve     52  Female               0
Frank   43    Male               1

The following exerices that are marked with <font color="blue">(INDPENDENT)</font> are review of the Pandas material from Thursday. Take a stab at doing them on your own. Feel free to use the [inclass notebook](https://github.com/ga-students/DS-SF-42/blob/master/classes/02/notebooks/INCLASS-codealong-02-the-pandas-library-starter-code.ipynb) as a reference.

> ### <font color="blue">(INDPENDENT)</font> Question 1.  Subset the dataframe on the age and gender columns

In [6]:
# TODO
df[["age", "gender"]].head()
#we can only put one item in the brackets BUT since we wont two variables 
#we have to put two brackets!!

       age  gender
name
Alice   24  Female
Bob     34    Male
Carol   44  Female
Dave    41    Male
Eve     52  Female

> ### <font color="blue">(INDPENDENT)</font> Question 2.  Subset the dataframe on the age column alone, first as a `DataFrame`, then as a `Series`

In [7]:
# TODO (DataFrame)
df[["age"]].head()
#the dataframe is formatted 'nicely' compared to the series below
#that might be a reason why you wouldn't want to use the series

       age
name
Alice   24
Bob     34
Carol   44
Dave    41
Eve     52

In [8]:
# TODO (Series)
df['age'].head()

name
Alice    24
Bob      34
Carol    44
Dave     41
Eve      52
Name: age, dtype: int64

> ### <font color="blue">(INDPENDENT)</font> Question 3.  Subset the dataframe on the rows Bob and Carol

In [9]:
# TODO
df.loc[['Bob', 'Carol'],].head()

#thoroughly understand loc and iloc
#2nd comma is for subsetting columns
#the colon is for

       age  gender  marital_status
name
Bob     34    Male               2
Carol   44  Female               1

> ### <font color="blue">(INDPENDENT)</font> Question 4.  Subset the dataframe on the row Eve alone, first as a `DataFrame`, then as a `Series`

In [10]:
# TODO (DataFrame)
df.loc[['Eve']].head()

      age  gender  marital_status
name
Eve    52  Female               0

In [11]:
# TODO (Series)
df.loc['Eve']

age                   52
gender            Female
marital_status         0
Name: Eve, dtype: object

> ### <font color="blue">(INDPENDENT)</font> Question 5.  How old is Frank?

In [12]:
# TODO
df.loc['Frank', 'age']
#first the index, then the variable

43

> ### <font color="blue">(INDPENDENT)</font> Question 6.  What is the men’s mean age, the women’s median age?

In [13]:
# TODO
df.loc[df['gender'] =='Male', 'age'].mean()

39.333333333333336

## Part B

- `.mean()`
  - (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.mean.html)
  - (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.mean.html)
- `.var()`, `.std()`
  - (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.var.html)
  - (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.var.html)
  - (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.std.html)
  - (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.std.html)

In [14]:
df = pd.read_csv('../datasets/dataset-04-zillow.csv', index_col = 'ID')

In [15]:
df

,Address,DateOfSale,SalePrice,IsAStudio,Beds,Baths,Size,LotSize,BuiltInYear
ID,,,,,,,,,
15063471,"55 Vandewater St APT 9, San Francisco, CA",12/4/15,0.7100,0.0,1.0,NaN,550.0,NaN,1980.0
15063505,"740 Francisco St, San Francisco, CA",11/30/15,2.1500,0.0,NaN,2.0,1430.0,2435.0,1948.0
15063609,"819 Francisco St, San Francisco, CA",11/12/15,5.6000,0.0,2.0,3.5,2040.0,3920.0,1976.0
15064044,"199 Chestnut St APT 5, San Francisco, CA",12/11/15,1.5000,0.0,1.0,1.0,1060.0,NaN,1930.0
15064257,"111 Chestnut St APT 403, San Francisco, CA",1/15/16,0.9700,0.0,2.0,2.0,1299.0,NaN,1993.0
15064295,"111 Chestnut St APT 702, San Francisco, CA",12/17/15,0.9400,0.0,2.0,2.0,1033.0,NaN,1993.0
15064391,"1821 Grant Ave APT 101, San Francisco, CA",12/15/15,0.8350,0.0,1.0,1.0,1048.0,NaN,1975.0
15064536,"2300 Leavenworth St, San Francisco, CA",12/4/15,2.8300,0.0,3.0,2.0,2115.0,1271.0,1913.0
15064640,"1047-1049 Lombard St, San Francisco, CA",1/14/16,4.0500,1.0,NaN,NaN,4102.0,3049.0,1948.0
15064669,"1055 Lombard St # C, San Francisco, CA",12/31/15,2.1900,0.0,2.0,3.0,1182.0,NaN,1986.0
15065032,"101 Lombard St APT 116E, San Francisco, CA",12/7/15,0.8000,0.0,1.0,1.0,1000.0,NaN,1983.0
15065140,"1407 Montgomery St APT 2, San Francisco, CA",1/28/16,0.9760,0.0,1.0,1.0,1000.0,NaN,1870.0
15065727,"1360 Montgomery St APT 1, San Francisco, CA",11/16/15,0.7200,0.0,1.0,1.0,552.0,NaN,1937.0
15065810,"1327-1329 Kearny St, San Francisco, CA",11/25/15,2.2500,0.0,NaN,4.0,2658.0,1600.0,1906.0
15065946,"44 Macondray Ln APT 2E, San Francisco, CA",11/30/15,1.2900,0.0,2.0,2.0,1165.0,NaN,1980.0
15066001,"1070 Green St APT 201, San Francisco, CA",11/18/15,2.9000,0.0,2.0,2.0,1465.0,NaN,1963.0
15066036,"1070 Green St APT 1402, San Francisco, CA",12/31/15,2.6000,0.0,3.0,2.5,2017.0,NaN,1963.0
15066085,"1907 Leavenworth St APT 8, San Francisco, CA",11/12/15,0.9080,0.0,2.0,1.0,956.0,NaN,1907.0
15066201,"1101 Green St # 303, San Francisco, CA",11/16/15,1.2100,0.0,2.0,1.0,1003.0,NaN,1930.0
15066281,"1807 Jones St, San Francisco, CA",12/15/15,1.7000,0.0,2.0,2.0,1467.0,3023.0,1922.0
15066344,"999 Green St APT 905, San Francisco, CA",12/10/15,1.2800,0.0,1.0,1.0,986.0,NaN,1964.0
15066608,"455 Vallejo St APT 111, San Francisco, CA",12/16/15,0.8750,0.0,1.0,1.0,825.0,NaN,1973.0
15066839,"1163-1165 Vallejo St, San Francisco, CA",12/1/15,0.3000,0.0,NaN,2.0,2344.0,1376.0,1913.0
15066959,"1300 Pacific Ave, San Francisco, CA",1/14/16,0.4250,1.0,NaN,2.0,989.0,NaN,1910.0
15067302,"948 Jackson St, San Francisco, CA",11/13/15,1.9500,0.0,NaN,4.0,4362.0,1459.0,1908.0
15067583,"946 Stockton St APT 6B, San Francisco, CA",12/18/15,0.7750,0.0,NaN,2.0,710.0,NaN,1970.0
15067604,"946 Stockton St APT 9E, San Francisco, CA",12/2/15,0.7050,0.0,2.0,2.0,744.0,NaN,1970.0
15067755,"1250 Clay St APT 306, San Francisco, CA",1/10/16,0.6950,0.0,1.0,1.0,541.0,NaN,1950.0
15067890,"1250 Jones St APT 503, San Francisco, CA",12/4/15,1.4100,0.0,1.0,1.0,1250.0,NaN,1929.0
15067896,"1250 Jones St APT 802, San Francisco, CA",12/15/15,1.6800,0.0,1.0,1.0,1115.0,NaN,1929.0
...,...,...,...,...,...,...,...,...,...
2100992607,"2137 Pine St, San Francisco, CA",1/15/16,1.5500,0.0,4.0,2.5,1632.0,NaN,NaN
2100994004,"409 Miguel St, San Francisco, CA",12/9/15,0.5100,0.0,1.0,1.0,400.0,NaN,NaN
2101028916,"251 Missouri St, San Francisco, CA",12/17/15,2.4500,0.0,4.0,3.0,2301.0,NaN,1900.0
2101094207,"1650 Florida St, San Francisco, CA",11/29/15,0.9700,0.0,3.0,1.0,NaN,NaN,1904.0
2101105851,"41 Collingwood St, San Francisco, CA",12/10/15,1.3000,0.0,3.0,1.0,1496.0,NaN,1908.0
2101116542,"2753 Bryant St, San Francisco, CA",1/14/16,1.7000,0.0,9.0,3.0,4005.0,NaN,1900.0
2101147349,"244 Precita Ave, San Francisco, CA",11/26/15,0.7850,0.0,1.0,1.0,625.0,NaN,1908.0
2101153805,"6 Rossi Ave, San Francisco, CA",12/2/15,1.1500,0.0,3.0,1.0,1912.0,NaN,1941.0
2101156735,"333 Potrero Ave, San Francisco, CA",1/5/16,1.1400,1.0,NaN,NaN,1776.0,3746.0,1905.0
2101167573,"1340 Union St, San Francisco, CA",1/25/16,1.2500,0.0,2.0,2.0,1108.0,NaN,1951.0
2101169168,"688 Douglass St, San Francisco, CA",11/10/15,3.1500,1.0,NaN,NaN,3500.0,2495.0,1908.0
2101175813,"414 Linden St, San Francisco, CA",12/13/15,0.8350,0.0,1.0,1.0,NaN,NaN,1909.0
2101331127,"1408 31st Ave APT 303, San Francisco, CA",12/28/15,0.8900,0.0,2.0,2.0,1424.0,NaN,2008.0
2101505254,"333 Beale St, San Francisco, CA",12/3/15,1.4000,0.0,1.0,1.0,950.0,NaN,2015.0
2101588805,"82 Alvarado St, San Francisco, CA",11/19/15,0.7500,0.0,2.0,1.0,NaN,NaN,NaN
2101807538,"2619 Sacramento St, San Francisco, CA",12/2/15,2.9000,1.0,NaN,NaN,NaN,2038.0,1900.0
2102385068,"129 Central Ave, San Francisco, CA",12/1/15,1.8000,0.0,3.0,2.0,NaN,NaN,1905.0
2102906272,"444 Linden St, San Francisco, CA",12/14/15,0.0058,NaN,NaN,NaN,NaN,NaN,NaN
2106229715,"2595 38th Ave, San Francisco, CA",1/19/16,1.2400,0.0,3.0,3.0,2414.0,1306.0,1943.0
2108411930,"3500 19th St, San Francisco, CA",12/29/15,1.7300,0.0,2.0,2.5,1500.0,NaN,2013.0
2108546010,"1738 Lombard St APT 4, San Francisco, CA",1/14/16,1.4000,0.0,2.0,2.0,NaN,NaN,2004.0
2114498518,"201 Sansome St UNIT 501, San Francisco, CA",1/26/16,0.7575,0.0,1.0,1.0,658.0,NaN,1909.0
2121221385,"925 Larkin St, San Francisco, CA",11/30/15,1.4300,0.0,NaN,NaN,6600.0,NaN,1907.0
2121978635,"829 Folsom St UNIT 906, San Francisco, CA",12/6/15,0.6750,0.0,1.0,1.0,557.0,NaN,2010.0
2122992200,"129 Octavia St, San Francisco, CA",11/20/15,2.7500,1.0,NaN,NaN,3655.0,NaN,1883.0
2124214951,"412 Green St APT A, San Francisco, CA",1/15/16,0.3900,1.0,NaN,1.0,264.0,NaN,2012.0
2126960082,"355 1st St UNIT 1905, San Francisco, CA",11/20/15,0.8600,0.0,1.0,1.0,691.0,NaN,2004.0
2128308939,"33 Santa Cruz Ave, San Francisco, CA",12/10/15,0.8300,0.0,3.0,3.0,1738.0,2299.0,1976.0
2131957929,"1821 Grant Ave, San Francisco, CA",12/15/15,0.8350,0.0,2.0,2.0,1048.0,NaN,1975.0
2136213970,"1200 Gough St, San Francisco, CA",1/10/16,0.8250,0.0,1.0,1.0,900.0,NaN,1966.0

### `Series.mean()` - Compute the `Series` mean value

In [16]:
df.SalePrice.mean()
#units in millions

1.397422943

> #### Activity: What's `Size`'s mean?

In [17]:
# TODO
df['Size'].mean()
#This also works df.Size.mean()   but it doesn't work when attribute has spaces

1641.3009307135471

> #### Activity: What fraction of the properties sold in the dataset are studios?

In [18]:
df.columns

Index([u'Address', u'DateOfSale', u'SalePrice', u'IsAStudio', u'Beds',
       u'Baths', u'Size', u'LotSize', u'BuiltInYear'],
      dtype='object')

In [19]:
# TODO
df["IsAStudio"].unique()
print(float(len(df.loc[df["IsAStudio"] == 1] ))/ len(df))

0.029

### `DataFrame.mean()` - Compute the `DataFrame` mean value

In [20]:
# TODO
# df["IsAStudio"].value_counts()
df.mean()

SalePrice         1.397423
IsAStudio         0.029412
Beds              2.572967
Baths             1.977548
Size           1641.300931
LotSize        3020.640288
BuiltInYear    1947.533333
dtype: float64

### `.var()` - Compute the unbiased variance (normalized by `N-1` by default)

In [21]:
# TODO
df.var()

SalePrice      3.015131e+00
IsAStudio      2.857569e-02
Beds           1.564729e+00
Baths          1.277654e+00
Size           1.054762e+06
LotSize        8.142064e+06
BuiltInYear    1.445639e+03
dtype: float64

> #### Activity: What's the variance for the number of beds in the dataset?

In [22]:
# TODO
df.Beds.var()

1.5647293928888633

### `.std()` - Compute the unbiased standard deviation (normalized by `N-1` by default)

In [23]:
# TODO
df.std()

SalePrice         1.736413
IsAStudio         0.169043
Beds              1.250891
Baths             1.130334
Size           1027.016175
LotSize        2853.430139
BuiltInYear      38.021563
dtype: float64

> #### Activity: What's the standard deviation for the number of beds in the dataset?

In [24]:
# TODO
df.Beds.std()

1.2508914392899422

## Part C

- `.median()`
  - (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.median.html)
  - (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.median.html)
- `.count()`, `.sum()`
  - (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.count.html)
  - (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.count.html)
  - (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.sum.html)
  - (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.sum.html)
- `.count()`
  - (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.dropna.html)
- `.min()`, `.max()`
  - (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.min.html)
  - (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.min.html)
  - (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.max.html)
  - (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.max.html)
- `.quantile()`
  - (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.quantile.html)
  - (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.quantile.html)
- `.describe()`
  - (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.describe.html)

### `.median()` - Compute the median value

In [25]:
df.columns

Index([u'Address', u'DateOfSale', u'SalePrice', u'IsAStudio', u'Beds',
       u'Baths', u'Size', u'LotSize', u'BuiltInYear'],
      dtype='object')

In [26]:
# TODO
df.median()

SalePrice         1.1
IsAStudio         0.0
Beds              2.0
Baths             2.0
Size           1350.0
LotSize        2622.0
BuiltInYear    1939.0
dtype: float64

> #### Activity: What's the median sale price for properties in the dataset?

In [27]:
# TODO
df["SalePrice"].median()

1.1

### `.count()` - Compute the number of rows/observations without `NaN` and `.sum()` - Compute the sum of the values

In [28]:
df.count().isnull

<bound method Series.isnull of Address        1000
DateOfSale     1000
SalePrice      1000
IsAStudio       986
Beds            836
Baths           942
Size            967
LotSize         556
BuiltInYear     975
dtype: int64>

In [29]:
df.IsAStudio.count()

986

Which leaves 14 houses for which we don't know if they are studios or not.

In [30]:
df.IsAStudio.dropna().shape[0] + df.IsAStudio.isnull().sum()

1000

In [31]:
df.IsAStudio.sum()

29.0

29 properties are studios.

### `.min()` and `.max()` - Compute the minimum and maximum values

In [32]:
df.min()

Address        1 Crescent Way APT 1402, San Francisco, CA
DateOfSale                                        1/10/16
SalePrice                                           1e-06
IsAStudio                                               0
Beds                                                    1
Baths                                                   1
Size                                                  264
LotSize                                                44
BuiltInYear                                          1870
dtype: object

In [33]:
df.max()

Address        San Carlos St, Carmel, CA
DateOfSale                        2/9/16
SalePrice                           32.7
IsAStudio                              1
Beds                                   9
Baths                                 14
Size                               11500
LotSize                            47916
BuiltInYear                         2015
dtype: object

> #### <font color="blue">(INDPENDENT)</font> Activity: What are properties that were sold at the lowest price?  At what price?

In [34]:
# TODO

> #### <font color="blue">(INDPENDENT)</font> Activity: What are properties that were sold at the highest price?  At what price?

In [35]:
# TODO

### `.quantile()` - Compute values at the given quantile

In [36]:
df.quantile(.5)

SalePrice         1.1
IsAStudio         0.0
Beds              2.0
Baths             2.0
Size           1350.0
LotSize        2622.0
BuiltInYear    1939.0
Name: 0.5, dtype: float64

By definition, the median is the 50% quantile.

In [37]:
df.median()

SalePrice         1.1
IsAStudio         0.0
Beds              2.0
Baths             2.0
Size           1350.0
LotSize        2622.0
BuiltInYear    1939.0
dtype: float64

In [38]:
df.quantile(.25)

SalePrice         0.8
IsAStudio         0.0
Beds              2.0
Baths             1.0
Size           1027.5
LotSize        2375.0
BuiltInYear    1912.0
Name: 0.25, dtype: float64

In [39]:
df.quantile(.75)

SalePrice         1.5325
IsAStudio         0.0000
Beds              3.0000
Baths             2.0000
Size           1947.5000
LotSize        3049.0000
BuiltInYear    1986.0000
Name: 0.75, dtype: float64

### `.describe()` - Generate various summary statistics

In [40]:
df.describe()

,SalePrice,IsAStudio,Beds,Baths,Size,LotSize,BuiltInYear
count,1000.000000,986.000000,836.000000,942.000000,967.000000,556.000000,975.000000
mean,1.397423,0.029412,2.572967,1.977548,1641.300931,3020.640288,1947.533333
std,1.736413,0.169043,1.250891,1.130334,1027.016175,2853.430139,38.021563
min,0.000001,0.000000,1.000000,1.000000,264.000000,44.000000,1870.000000
25%,0.800000,0.000000,2.000000,1.000000,1027.500000,2375.000000,1912.000000
50%,1.100000,0.000000,2.000000,2.000000,1350.000000,2622.000000,1939.000000
75%,1.532500,0.000000,3.000000,2.000000,1947.500000,3049.000000,1986.000000
max,32.700000,1.000000,9.000000,14.000000,11500.000000,47916.000000,2015.000000

In [41]:
df.SalePrice.describe()

count    1000.000000
mean        1.397423
std         1.736413
min         0.000001
25%         0.800000
50%         1.100000
75%         1.532500
max        32.700000
Name: SalePrice, dtype: float64

In [42]:
df.Address.describe()

count                                        1000
unique                                        993
top       1954 Golden Gate Ave, San Francisco, CA
freq                                            2
Name: Address, dtype: object

## Part D

- Boxplots
  - (http://pandas.pydata.org/pandas-docs/stable/visualization.html#box-plots)
  - (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.plot.html) with `kind = 'box'`
  - (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.plot.html) with `kind = 'box'`
  - (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.boxplot.html)

In [43]:
df.SalePrice.plot(kind = 'box', figsize = (8, 8))

In [44]:
df[['SalePrice']].boxplot(figsize = (8, 8))

> In the same plot, plot the boxplots of `Beds` and `Baths`

In [45]:
# TODO

## Part E

- Histograms
  - (http://pandas.pydata.org/pandas-docs/stable/visualization.html#histograms)
  - (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.plot.html) with `kind = 'hist'`
  - (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.plot.html) with `kind = 'hist'`
  - (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.hist.html)
  - ((http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.hist.html)

In [46]:
df.Beds.plot(kind = 'hist', figsize = (8, 8))

In [47]:
df.Beds.hist(figsize = (8, 8))

> #### Activity: In the same plot, plot the histograms of `Beds` and `Baths`

In [48]:
# TODO

## Part F

- `.mode()`
  - (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.mode.html)
  - ((http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.mode.html)

### `.mode()` - Compute the mode value(s)

In [49]:
df.mode()

,Address,DateOfSale,SalePrice,IsAStudio,Beds,Baths,Size,LotSize,BuiltInYear
0,"1 Mono St # B, San Francisco, CA",11/20/15,1.1,0.0,2.0,1.0,1000.0,2495.0,1900.0
1,"150 Grand View Ave, San Francisco, CA",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"1915 Diamond St, San Francisco, CA",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"1954 Golden Gate Ave, San Francisco, CA",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"2299 Market St APT 502, San Francisco, CA",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,"643 Natoma St, San Francisco, CA",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,"829 Folsom St UNIT 906, San Francisco, CA",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [50]:
df.Address.mode()

0             1 Mono St # B, San Francisco, CA
1        150 Grand View Ave, San Francisco, CA
2           1915 Diamond St, San Francisco, CA
3      1954 Golden Gate Ave, San Francisco, CA
4    2299 Market St APT 502, San Francisco, CA
5             643 Natoma St, San Francisco, CA
6    829 Folsom St UNIT 906, San Francisco, CA
dtype: object

In [51]:
df.Baths.mode()

0    1.0
dtype: float64

The `.mode()` method gets the mode(s) of each element along the columns.  Empty if nothing has 2+ occurrences. Adds a row for each mode per label, fills in gaps with `NaN`.  Note that there could be multiple values returned in the columns (when more than one value share the maximum frequency), which is the reason why a dataframe is returned.

## Part G

- `.corr()`
  - (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.corr.html)
  - (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.corr.html)
- Heatmaps
  - (http://matplotlib.org/api/pyplot_api.html#matplotlib.pyplot.matshow)
- Scatter plots
  - (http://pandas.pydata.org/pandas-docs/stable/visualization.html#scatter-plot)
  - (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.plot.html) with `kind = 'scatter'`
  - (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.plot.html) with `kind = 'scatter'`
  - (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.plot.scatter.html)
- Scatter matrices
  - (http://pandas.pydata.org/pandas-docs/stable/visualization.html#scatter-matrix-plot)

In [52]:
df.corr()

,SalePrice,IsAStudio,Beds,Baths,Size,LotSize,BuiltInYear
SalePrice,1.000000,0.008889,0.379453,0.369938,0.485379,0.392418,-0.148598
IsAStudio,0.008889,1.000000,NaN,-0.078195,0.052166,-0.012622,-0.050258
Beds,0.379453,NaN,1.000000,0.715194,0.722656,0.070542,-0.344700
Baths,0.369938,-0.078195,0.715194,1.000000,0.692501,0.108556,-0.078157
Size,0.485379,0.052166,0.722656,0.692501,1.000000,0.201979,-0.313989
LotSize,0.392418,-0.012622,0.070542,0.108556,0.201979,1.000000,0.046411
BuiltInYear,-0.148598,-0.050258,-0.344700,-0.078157,-0.313989,0.046411,1.000000

In [53]:
df.Beds.corr(df.Baths)

0.71519388432089781

### Heatmaps

In [54]:
corr = df.corr()

corr

,SalePrice,IsAStudio,Beds,Baths,Size,LotSize,BuiltInYear
SalePrice,1.000000,0.008889,0.379453,0.369938,0.485379,0.392418,-0.148598
IsAStudio,0.008889,1.000000,NaN,-0.078195,0.052166,-0.012622,-0.050258
Beds,0.379453,NaN,1.000000,0.715194,0.722656,0.070542,-0.344700
Baths,0.369938,-0.078195,0.715194,1.000000,0.692501,0.108556,-0.078157
Size,0.485379,0.052166,0.722656,0.692501,1.000000,0.201979,-0.313989
LotSize,0.392418,-0.012622,0.070542,0.108556,0.201979,1.000000,0.046411
BuiltInYear,-0.148598,-0.050258,-0.344700,-0.078157,-0.313989,0.046411,1.000000

In [55]:
# TODO

sns.heatmap(corr)

Let's pretty this up using the seaborn package.

In [56]:
sns.heatmap(corr)

### Scatter plots

In [57]:
df.plot(kind = 'scatter', x = 'Beds', y = 'Baths', s = 100, figsize = (8, 8))

In [58]:
df.plot.scatter(x = 'Beds', y = 'Baths', s = 100, figsize = (8, 8))

### Pair scatterplots with Seaborn

In [59]:
sns.pairplot(df[['Beds', 'Baths']].dropna())

In [60]:
sns.pairplot(df[['SalePrice', 'Size']].dropna())

In [61]:
sns.pairplot(df.dropna())

### <font color="blue">Check</font> - why are plots along the diagonal not scatters?

## Part H

- `.value_counts()`
  - (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.value_counts.html)
- `.crosstab()`
  - (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.crosstab.html)

> #### Activity: Reproduce the `Beds` histogram above.  For each possible number of beds, how many properties share that bed count?

In [62]:
# TODO

> Careful on checking for `NaN` values!

In [63]:
# TODO

> #### Activity: Create a frequency table for `Baths` over `Beds`

In [64]:
# TODO

> #### Activity: Create a frequency table for `Beds` and `Baths` (together) over the century the houses were built

In [65]:
# TODO