<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

## Practice Grouping Data with Pandas

_Authors: Kiefer Katovich (SF), Dave Yerrington (SF), Mario Carrillo (SF)_

---

You are going to investigate UFO sightings around the US.  This lab will give you practice performing `groupby` operations to split data along multiple dimensions and investigate patterns between subsets of the data using basic aggregation.

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
sns.set_style('whitegrid')

%matplotlib inline
%config InlineBackend.figure_format ='retina'

#### 1. Load and print the header for the UFO data.

In [15]:
ufo_csv = './datasets/ufo.csv'
df = pd.read_csv(ufo_csv)

In [21]:
df.head()
# type(df)

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [27]:
df.shape

(80543, 5)

#### 2. How many null values exist per column?

In [39]:
# A:
df["City"].isnull()
df.groupby

<bound method DataFrame.groupby of                        City Colors Reported Shape Reported State  \
0                    Ithaca             NaN       TRIANGLE    NY
1               Willingboro             NaN          OTHER    NJ
2                   Holyoke             NaN           OVAL    CO
3                   Abilene             NaN           DISK    KS
4      New York Worlds Fair             NaN          LIGHT    NY
5               Valley City             NaN           DISK    ND
6               Crater Lake             NaN         CIRCLE    CA
7                      Alma             NaN           DISK    MI
8                   Eklutna             NaN          CIGAR    AK
9                   Hubbard             NaN       CYLINDER    OR
10                  Fontana             NaN          LIGHT    CA
11                 Waterloo             NaN       FIREBALL    AL
12                   Belton             RED         SPHERE    SC
13                   Keokuk             NaN           OVAL    IA
14                Ludington             NaN           DISK    MI
15              Forest Home             NaN         CIRCLE    CA
16              Los Angeles             NaN            NaN    CA
17                Hapeville             NaN            NaN    GA
18                   Oneida             NaN      RECTANGLE    TN
19               Bering Sea             RED          OTHER    AK
20                 Nebraska             NaN           DISK    NE
21                      NaN             NaN            NaN    LA
22                      NaN             NaN          LIGHT    LA
23                Owensboro             NaN      RECTANGLE    KY
24               Wilderness             NaN           DISK    WV
25                San Diego             NaN          CIGAR    CA
26               Wilderness             NaN           DISK    WV
27                   Clovis             NaN           DISK    NM
28               Los Alamos             NaN           DISK    NM
29             Ft. Duschene             NaN           DISK    UT
...                     ...             ...            ...   ...
80513            Manahawkin             NaN         CIRCLE    NJ
80514           New Bedford             NaN          LIGHT    MA
80515            Woodbridge             NaN       TRIANGLE    VA
80516              Glendale             NaN       CYLINDER    CA
80517               Laconia             NaN          CIGAR    NH
80518             Langhorne             NaN          OTHER    PA
80519            Glen Ellyn             RED         CIRCLE    IL
80520            Waynesburg             NaN          FLASH    PA
80521      Canal Winchester             NaN       TRIANGLE    OH
80522              Lawrence          ORANGE          LIGHT    MA
80523         Ellicott City             NaN          LIGHT    MD
80524               Olympia             RED          LIGHT    WA
80525             Iowa City            BLUE          LIGHT    IA
80526            Marshfield             NaN          LIGHT    MA
80527               Seattle             NaN        DIAMOND    WA
80528        North Royalton             RED       TRIANGLE    OH
80529             Deer Park             NaN          LIGHT    WA
80530         Glen St. Mary             NaN           DISK    FL
80531              Abingdon             NaN         CIRCLE    VA
80532              Lawrence             NaN          LIGHT    MA
80533             Melbourne             NaN           OVAL    IA
80534              Burleson             NaN          LIGHT    TX
80535         Elizabethtown             NaN         CIRCLE    KY
80536               Wyoming             RED           DISK    PA
80537                Neligh             NaN         CIRCLE    NE
80538                Neligh             NaN         CIRCLE    NE
80539          Uhrichsville             NaN          LIGHT    OH
80540                Tucson        RED BLUE            NaN    AZ
80541           Orland park             RED          LIGHT    IL
80542              Loughman             NaN          LIGHT    FL

                   Time
0        6/1/1930 22:00
1       6/30/1930 20:00
2       2/15/1931 14:00
3        6/1/1931 13:00
4       4/18/1933 19:00
5       9/15/1934 15:30
6        6/15/1935 0:00
7        7/15/1936 0:00
8      10/15/1936 17:00
9        6/15/1937 0:00
10      8/15/1937 21:00
11       6/1/1939 20:00
12      6/30/1939 20:00
13        7/7/1939 2:00
14       6/1/1941 13:00
15       7/2/1941 11:30
16       2/25/1942 0:00
17       6/1/1942 22:30
18       7/15/1942 1:00
19      4/30/1943 23:00
20       6/1/1943 15:00
21       8/15/1943 0:00
22       8/15/1943 0:00
23     10/15/1943 11:00
24       1/1/1944 10:00
25       1/1/1944 12:00
26       1/1/1944 12:00
27       4/2/1944 11:00
28       6/1/1944 12:00
29      6/30/1944 10:00
...                 ...
80513     9/4/2014 8:30
80514     9/4/2014 9:47
80515    9/4/2014 16:30
80516    9/4/2014 17:38
80517    9/4/2014 19:02
80518    9/4/2014 19:30
80519    9/4/2014 20:20
80520    9/4/2014 20:25
80521    9/4/2014 20:30
80522    9/4/2014 20:30
80523    9/4/2014 20:45
80524    9/4/2014 21:10
80525    9/4/2014 21:11
80526    9/4/2014 21:15
80527    9/4/2014 21:15
80528    9/4/2014 21:30
80529    9/4/2014 22:00
80530    9/4/2014 22:00
80531    9/4/2014 22:05
80532    9/4/2014 22:15
80533    9/4/2014 22:15
80534    9/4/2014 22:30
80535    9/4/2014 22:30
80536    9/4/2014 23:00
80537    9/4/2014 23:20
80538    9/4/2014 23:20
80539     9/5/2014 1:14
80540     9/5/2014 2:40
80541     9/5/2014 3:43
80542     9/5/2014 5:30

[80543 rows x 5 columns]>

#### 3. Which city has the most observations?

In [5]:
# A:

#### 4. What is the observation count per shape?

In [6]:
# A:

#### 5. Create a subset of the data that is the top 5 cities and the top 5 shapes.

In [7]:
# A:

#### 6. With the subset, find the percent of each shape seen by city.

In [8]:
# A:

**7. Make a grouped bar chart with your subset data showing counts of shapes seen by city.**

In [9]:
# A: